# Виртуальное окружение
.venv/
venv/

# Файлы базы данных
*.sqlite3
db.sqlite3

# Python кэш
__pycache__/
*.pyc

# Настройки IDE
.idea/
.vscode/

# Локальные настройки Django
local_settings.py

# Файлы операционной системы
.DS_Store
Thumbs.db


